body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 20px;
}

#contact-list {
    list-style-type: none;
    padding: 0px;
}

#contact-list li {
    height: 200px;
    width: 250px;
    border: 3px solid cornflowerblue;
    display: inline-block;
    margin: 10px;
    padding: 8px;
}